/* google font work sans & inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Work+Sans:wght@400;600;700&display=swap');

/* universal styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1600px;
    margin: auto;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
    outline: none  ;
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

/* header section style */
.header {
    height: 100vh;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
    position: relative;
}


.web-content{
    width: 500px;
    right: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.web-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
}

.web-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 32px 0;
}
/* failure section styles */
.failure {
    margin: 140px auto;
    width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.section-content {
    width: 416px;
}

.section-content ul li {
    list-style-position: inside;
    list-style-image: url('../images/icons/check-solid.svg');
}

/* plans section styles */
.my-plans {
    width: 1600px;
    margin: 140px auto;
    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 24px;
}

/* positive section style */
.positive {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    width: 1600px;
    margin: 140px auto;
}

.positive .positive-content {
    width: 460px;
    padding: 64px;
}

.positive .positive-content .section-title {
    color: #FFF;
}

/* footer styles */
.footer {
    background-color: #151414;
    padding: 130px 0px;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 330px;
}

.footer-content {
    width: 485px;
}

.footer .section-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer .section-description {
    color: #FFF;
    margin: 16px 0 24px 0;
}

.person-info {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0 0 0;
}

.social-links {
    margin-top: 36px;
}

.social-links a {
    margin-right: 20px;
}

.footer-form .form-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.footer-form input[type="email"] {
    padding: 20px;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: transparent;
    outline: none;
    margin: 30px 0 16px 0;
    width: 100%;
}

.footer-form input[type="email"]::placeholder{
    color: #F3F3F3;
}

.footer-form input[type="submit"]  {
    color: #F8F8F8;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #005FAC;
    padding: 20px 36px;
    cursor: pointer;
}