/* google font work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* universal styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1600px;
    margin: auto;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

/* header section style */
.header {
    height: 800px;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 230px;
}

.banner {
    width: 500px;
}

.web-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
}

.web-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 32px 0;
}

.failure {
    margin: 140px auto;
    width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.section-content {
    width: 416px;
}

.section-content ul li {
    list-style-position: inside;
    list-style-image: url('../images/icons/check-solid.svg');
}

/* plans section styles */
.my-plans {
    width: 1600px;
    margin: 140px auto;
    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 24px;
}

/* positive section style */
.positive{
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    width: 1600px;
    margin: 140px auto;
}

.positive .positive-content{
    width: 460px;
    padding: 64px;
}

.positive .positive-content .section-title{
    color: #FFF;
}